# Created by venv; see https://docs.python.org/3/library/venv.html
bin
include
lib

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
